.main{
    display: flex;
    flex-direction: flex-start;
    justify-content: center;
    min-height: 100vh;
    padding: 0px;
    margin-top: 50px;
}
.head div{
    display: flex;
    width: 90%;
    justify-content: flex-start;
    padding: 20px 0px 20px 0px;
}
.table{
    width: 100%;
    display: flex;
    justify-content: center;
}

table, tr, th, td{
    border: none;
    border-radius: 0px;
    text-align: center;
}
table{
    width: 90%;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 5px;
    overflow: hidden;
}
td{
    font-size: .9rem;
    text-align: center;
}
.tableFirstRow td{
    background-color: #11101D;
    color: white;
    font-size: 1rem;
}
.tableFirstRow td:last-child{
    background-color: rgba(255, 255, 255, 0.733);
    color: #11101D;
    font-weight: 600;
}
table td, table th{
    border-left: 1px solid rgba(0, 0, 0, 0.171);
    height: 40px;
}
table td:first-child{
    border:none;
}
tr:nth-child(odd){
    background-color: rgba(17, 16, 29, 0.1);
}
input{
    all: unset;
    width: 50%;
    height: 100%;
    background:none;
    border-bottom: 1px solid #11101d52;
}

input:disabled{
    background: none;
    font-weight: 600;
}
.btns, .head{
    width: 100%;
    display: flex;
    justify-content: center;
}
.btns div{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    border-top: 2px solid #11101D;
    padding-top: 20px;
}
.submit-btn{
    all: unset;
    width: 120px;
    height: 40px;
    background-color: #11101D;
    color: white;
    text-align: center;
    border-radius: 5px;
}
.edit-container{
    height: 100%;
  }
.table>:not(caption)>*>*{
padding: 0px;
  }
.btns-group{
      display: flex;
      flex-direction: row-reverse;
      position: relative;
      right: 80px;
}
.btns-group button{
    min-width: 100px;
    height: 50px;
    margin-left: 10px;
    border: none;
    outline: none;
    color: white;
    background-color: #11101D;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
}
.btns-group .share{
    background-color: rgb(1, 104, 1);
}
.btns-group .btnLogo{
    margin-left: 5px;
    margin-top: 5px;
}
.table table tr th{
    background-color: #11101d;
    color: white;
    font-weight: 400;
}
@media screen and (max-width: 500px) {
    
.table table tr td,.table table tr th {
        padding: 3px;
        font-size: .3rem;
        font-weight: 300;
        height: 20px;
        overflow: hidden;
    }
.table table tr td {
    font-weight: 500;
    }
    .main{
        margin: 0px;
    }
    .head{
        margin-top: 0px;
    }
    .submit-btn{
        width:70px;
        height: 30px;
        font-size: 10px;

        }
    .uploadMark{
        justify-content: flex-start;
        padding-top: 50px;
    }
    .btns-group button{
        max-width: 50px;
        width: 30px;
        max-height: 30px;
        font-size: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
    .btns-group{
        width: 100%;
        right: 0px;
        justify-content: center;
    }
    .btns-group .btnLogo{
        font-size: .5rem;
    }
  }