.container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}


.list-container{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    color: #333;
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    padding: 10px;
    width: 90%;
    height: 77vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.list-container::-webkit-scrollbar {
    display: none;
  }
  
.list-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .list-container {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 1);
    }
  }

.list-header, .lists{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #11101D;
    height: 50px;
    align-items: center;
    border-radius: 8px;
    color: white;
    z-index: 2;
}
.list-header{
    position: sticky;
    top: 0px;
}
.lists{
    background: none;
    color: #11101D;
    margin-top: 10px;
    position: sticky;
    top: 5px;
    z-index: 1;
}
.lists:hover{
    background-color: rgba(2, 2, 2, .2);
    border-radius: 5px;
}
.lists:hover .list-icon{
    font-size: .7rem;
    transition: .2s;

}
.list-header .head, .lists .title{
    flex: 60%;
    text-align: center;
    padding: 10px;
}
.list-header .head:nth-child(1),.lists .title:nth-child(1),.list-header .head:last-child,.lists .title:last-child{
    flex: 32%;
}


.title.buttons{
      display: flex;
      justify-content: center;
}
.list-icon{
    margin: 3px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .7rem;
    border-radius: 15px;
    border: 2px solid #11101D;
    background: none;
    color: #11101D;
}
.list-icon:hover{
    background-color: #11101D;
    color: white;
}
.button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top:10px ;
}
.add-button{
    width: 79vw;
    height: 45px;
    bottom: 5px;
    color: white;
    background: #11101D;
    border-radius: 8px;
    border: none;
    transition: .2s;
    position: relative;
    bottom: -30px;
}
.add-button:hover{
    border: 1.5px solid #11101D;
    background: none;
    color: #11101D;
    font-weight: 600;
}
@media screen and (max-width: 600px) {
    .add-button{
        bottom: -50px;
    }
    .lists, .list-header{
        min-width: 100vw;

    }
    .lists div, .list-header div{
        font-size: 10px;
    }
    .list-icon svg{
        font-size: 10px;
    }
    .list-icon{
        width: 20px;
        height: 20px;
    }
    .list-container{
        overflow: scroll;
        width: 110%;
    }
  }

