.InternalDisplay{
    width: 100%;
    overflow: hidden;
    margin-top: 50px;
}
/* th, td{
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 9px;
} */
.col-md-12{
    
    display: flex;
    justify-content: center;
}
.col-md-12.text{
    justify-content: flex-start;
    margin: 20px 0px 20px 50px;
}
table{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    width: 80%;
}
th, table tr td {
    padding: 10px;
    max-width: 10px;
}
.st-details th, .st-details td{
    padding: 7px;
}
.tableFirstRow, .tableFirstRow th, .tableFirstRow td{
    background-color: #11101D;
    color: white;
    font-weight: lighter;
    border: none;
}
.st-details tr th{
    width: 30%;
}
@media screen and (max-width: 600px) {
    table{
        width: 95%;
    }
    th, table tr td {
        padding: 10px;
        max-width: 10px;
        font-size: 8px;
    }
    .col-md-12.text {
        margin: 20px 0px 20px 30px;
    }
  }

