.container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list-container{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    color: #333;
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    padding: 10px;
    width: 90%;
    height: 77vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.list-container::-webkit-scrollbar {
    display: none;
  }
  
.list-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .list-container {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.4);
    }
  }

.list-header, .lists{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #11101D;
    height: 50px;
    align-items: center;
    border-radius: 8px;
    color: white;
    z-index: 2;
}
.list-header{
    position: sticky;
    top: 0px;
}
.lists{
    background: none;
    color: #11101D;
    margin-top: 10px;
    position: sticky;
    top: 5px;
    z-index: 1;
}
.lists:hover{
    font-size: 1.13rem;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 0px;
    transition: .3s ease-in-out;
    box-shadow: 0px 0px 10px 2px rgba(128, 128, 128, 0.45);

}
.lists:hover .list-icon{
    font-size: .9rem;
    transition: .3s;

}
.list-header .head, .lists .title{
    flex: 40%;
    text-align: center;
}
.list-header .head:nth-child(1),.lists .title:nth-child(1){
    flex: 20%;
}


.title.buttons{
      display: flex;
      justify-content: center;
}
.list-icon{
    margin: 3px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    border-radius: 15px;
    border: 2px solid #11101D;
    background: none;
    color: #11101D;
}
.list-icon:hover{
    background-color: #11101D;
    color: white;
}
.button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top:10px ;
}
.add-button{
    width: 85%;
    height: 45px;
    position: fixed;
    bottom: 5px;
    color: white;
    background: #11101D;
    border-radius: 8px;
    border: none;
}