.ConfirmationMessage{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.403);
    position: fixed;
    left: 0px;
    top: 0px;
    color: #11101d;
    z-index: 100000;
    animation-name: anime;
    animation-duration: .3s;
}
.confirmBox{
    margin-top: -100px;
    height: 200px;
    width: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px -2px black;
}
.confirmBox .message{
    text-align: center;
}
.btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btns button{
    flex: 50%;
    margin: 5px;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.btns .no{
    border: 2px solid #11101d;
}
.btns .no:hover{
    background-color:rgb(165, 164, 164);
}
.btns .yes{
    background-color:#11101d;
    color: white;
}
.btns .yes:hover{
    background-color:rgb(165, 164, 164);
    color: #11101d;
    border: 2px solid #11101d;
}
.icon .logo{
    font-size: 3rem;
}

@keyframes anime{
    0%   {opacity:0%;}
    100% {opacity: 100%;}
  }
  @media screen and (max-width: 600px) {
    .ConfirmationMessage{
        padding: 10px;
    }
  }