
.container-header span{
    font-size: 1.2rem;
    border-bottom: 2px solid;
}
.select-details{
    margin-top: 5%;
}
@media screen and (max-width: 500px) {
    .form-container{
        width: 85%;
    }
    .admin-login{
        min-height: 90vh;
    }
  }